<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div>
            <label for="username">Username</label>
            <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <label for="email">Email</label>
            <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" >
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
        <div>
            <label for="password">
                Password
                <em *ngIf="!isAddMode">(Leave blank to keep the same password)</em>
            </label>
            <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
    </div>
    <div>
        <button [disabled]="loading">
            <span *ngIf="loading"></span>
            Save
        </button>
        <a routerLink="/users">Cancel</a>
    </div>
</form>
