<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/cards" routerLinkActive="active">Cards</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active" *ngIf="user" >Users</a>
        <a class="nav-item nav-link" routerLink="/aboutUs" routerLinkActive="active" >About Us</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="user">Logout</a>

        <a class="nav-item nav-link" routerLink="/account/login" *ngIf="!user">Log In</a>
        <a class="nav-item nav-link" routerLink="/account/register"  *ngIf="!user">Register</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

