<!-- ion-toolbar -->
<ion-toolbar class="nav">
  <img src="assets/images/Logotype.svg" alt="" slot="start">
  <ion-title slot="start">Amiibo Services</ion-title>
    <ion-buttons slot="end">
        <ion-segment-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</ion-segment-button>
        <ion-segment-button routerLink="/cards" routerLinkActive="active">Cards</ion-segment-button>
        <ion-segment-button routerLink="/users" routerLinkActive="active" *ngIf="user" >Users</ion-segment-button>
        <ion-segment-button routerLink="/aboutUs" routerLinkActive="active" >About Us</ion-segment-button>
        <ion-segment-button (click)="logout()" *ngIf="user">Logout</ion-segment-button>

        <ion-segment-button routerLink="/account/login" *ngIf="!user">Log In</ion-segment-button>
        <ion-segment-button routerLink="/account/register"  *ngIf="!user">Register</ion-segment-button>
    </ion-buttons>
</ion-toolbar>

<!-- main app container -->
<div class="app-container" style="min-height: 78vh;">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<ion-footer class="ion-no-border" collapse="fade">
  <ion-toolbar>
    <ion-title>Contact Information</ion-title>
    <div class="contactList">
      <a href="">
        <ion-icon name="mail"></ion-icon>
        <ion-text>business.myelovell@hotmail.com</ion-text>
      </a>

      <a href="https://www.linkedin.com/in/my-eklundh-lovell-3511391b6/">
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-text>My Eklundh Lovell</ion-text>
      </a>

      <a href="https://www.instagram.com/amiibservices/">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-text>
          Amiibo Services
        </ion-text>
      </a>

      <a href="https://github.com/ntijoh-my-lovell">
        <ion-icon name="logo-github"></ion-icon>
        <ion-text>@ntijoh-my-lovell</ion-text>
      </a>
    </div>
  </ion-toolbar>


</ion-footer>

