<div class="cards">
  <ion-title size="large">Cards:</ion-title>
  <!-- <a routerLink="add">Add Cards</a> -->
  <ion-list class="filterList">
    <div>
      <ion-item (click)="filter(cardType[0])">Common</ion-item>
      <ion-item (click)="filter(cardType[1])">Rare</ion-item>
      <ion-item (click)="filter(cardType[2])">Special</ion-item>
    </div>

    <div>
      <ion-item (click)="filter(gender[0])">Male</ion-item>
      <ion-item (click)="filter(gender[1])">Female</ion-item>
    </div>

    <div>
      <ion-item (click)="filter(animalType[0])"><img href="../../assets/animal-icons/Alligator.png">Alligator</ion-item>
      <ion-item (click)="filter(animalType[1])"><img href="../../assets/animal-icons/Anteater.png">Anteater</ion-item>
      <ion-item (click)="filter(animalType[2])">Axolotl</ion-item>
      <ion-item (click)="filter(animalType[3])"><img href="../../assets/animal-icons/Bear.png">Bear</ion-item>
      <ion-item (click)="filter(animalType[4])"><img href="../../assets/animal-icons/Bear cub.png">Bear cub</ion-item>
      <ion-item (click)="filter(animalType[5])">Beaver</ion-item>
      <ion-item (click)="filter(animalType[6])"><img href="../../assets/animal-icons/Bird.png">Bird</ion-item>
      <ion-item (click)="filter(animalType[7])">Boar</ion-item>
      <ion-item (click)="filter(animalType[8])"><img href="../../assets/animal-icons/Bull.png">Bull</ion-item>
      <ion-item (click)="filter(animalType[9])">Camel</ion-item>
      <ion-item (click)="filter(animalType[10])"><img href="../../assets/animal-icons/Cat.png">Cat</ion-item>
      <ion-item (click)="filter(animalType[11])">Chameleon</ion-item>
      <ion-item (click)="filter(animalType[12])"><img href="../../assets/animal-icons/Chicken.png">Chicken</ion-item>
      <ion-item (click)="filter(animalType[13])"><img href="../../assets/animal-icons/Bull.png">Cow</ion-item>
      <ion-item (click)="filter(animalType[14])"><img href="../../assets/animal-icons/Deer.png">Deer</ion-item>
      <ion-item (click)="filter(animalType[15])">Dodo</ion-item>
      <ion-item (click)="filter(animalType[16])"><img href="../../assets/animal-icons/Dog.png">Dog</ion-item>
      <ion-item (click)="filter(animalType[17])"><img href="../../assets/animal-icons/Duck.png">Duck</ion-item>
      <ion-item (click)="filter(animalType[18])"><img href="../../assets/animal-icons/Eagle.png">Eagle</ion-item>
      <ion-item (click)="filter(animalType[19])"><img href="../../assets/animal-icons/Elephant.png">Elephant</ion-item>
      <ion-item (click)="filter(animalType[20])">Fox</ion-item>
      <ion-item (click)="filter(animalType[21])"><img href="../../assets/animal-icons/Frog.png">Frog</ion-item>
      <ion-item (click)="filter(animalType[22])">Giraffe</ion-item>
      <ion-item (click)="filter(animalType[23])"><img href="../../assets/animal-icons/Goat.png">Goat</ion-item>
      <ion-item (click)="filter(animalType[24])"><img href="../../assets/animal-icons/Gorilla.png">Gorilla</ion-item>
      <ion-item (click)="filter(animalType[25])"><img href="../../assets/animal-icons/Hamster.png">Hamster</ion-item>
      <ion-item (click)="filter(animalType[26])">Hedgehog</ion-item>
      <ion-item (click)="filter(animalType[27])"><img href="../../assets/animal-icons/Hippo.png">Hippo</ion-item>
      <ion-item (click)="filter(animalType[28])"><img href="../../assets/animal-icons/Horse.png">Horse</ion-item>
      <ion-item (click)="filter(animalType[29])"><img href="../../assets/animal-icons/Kangaroo.png">Kangaroo</ion-item>
      <ion-item (click)="filter(animalType[30])">Kappa</ion-item>
      <ion-item (click)="filter(animalType[31])"><img href="../../assets/animal-icons/Koala.png">Koala</ion-item>
      <ion-item (click)="filter(animalType[32])"><img href="../../assets/animal-icons/Lion.png">Lion</ion-item>
      <ion-item (click)="filter(animalType[33])">Manatee</ion-item>
      <ion-item (click)="filter(animalType[34])">Mole</ion-item>
      <ion-item (click)="filter(animalType[35])"><img href="../../assets/animal-icons/Monkey.png">Monkey</ion-item>
      <ion-item (click)="filter(animalType[36])"><img href="../../assets/animal-icons/Mouse.png">Mouse</ion-item>
      <ion-item (click)="filter(animalType[37])"><img href="../../assets/animal-icons/Octopus.png">Octopus</ion-item>
      <ion-item (click)="filter(animalType[38])"><img href="../../assets/animal-icons/Ostrich.png">Ostrich</ion-item>
      <ion-item (click)="filter(animalType[39])">Otter</ion-item>
      <ion-item (click)="filter(animalType[40])">Owl</ion-item>
      <ion-item (click)="filter(animalType[41])">Panther</ion-item>
      <ion-item (click)="filter(animalType[42])">Peacock</ion-item>
      <ion-item (click)="filter(animalType[43])">Pelican</ion-item>
      <ion-item (click)="filter(animalType[44])"><img href="../../assets/animal-icons/Penguin.png">Penguin</ion-item>
      <ion-item (click)="filter(animalType[45])"><img href="../../assets/animal-icons/Pig.png">Pig</ion-item>
      <ion-item (click)="filter(animalType[46])">Pigeon</ion-item>
      <ion-item (click)="filter(animalType[47])"><img href="../../assets/animal-icons/Rabbit.png">Rabbit</ion-item>
      <ion-item (click)="filter(animalType[48])">Racoon</ion-item>
      <ion-item (click)="filter(animalType[49])">Raindeer</ion-item>
      <ion-item (click)="filter(animalType[50])"><img href="../../assets/animal-icons/Rhinoceros.png">Rhinoceros</ion-item>
      <ion-item (click)="filter(animalType[51])">Sea lion</ion-item>
      <ion-item (click)="filter(animalType[52])">Seagull</ion-item>
      <ion-item (click)="filter(animalType[53])"><img href="../../assets/animal-icons/Sheep.png">Sheep</ion-item>
      <ion-item (click)="filter(animalType[54])">Skunk</ion-item>
      <ion-item (click)="filter(animalType[55])">Sloth</ion-item>
      <ion-item (click)="filter(animalType[56])">Specter</ion-item>
      <ion-item (click)="filter(animalType[57])"><img href="../../assets/animal-icons/Squirrel.png">Squirrel</ion-item>
      <ion-item (click)="filter(animalType[58])">Tapir</ion-item>
      <ion-item (click)="filter(animalType[59])"><img href="../../assets/animal-icons/Tiger.png">Tiger</ion-item>
      <ion-item (click)="filter(animalType[60])">Tortoise</ion-item>
      <ion-item (click)="filter(animalType[61])">Turkey</ion-item>
      <ion-item (click)="filter(animalType[62])">Walrus</ion-item>
      <ion-item (click)="filter(animalType[63])"><img href="../../assets/animal-icons/Wolf.png">Wolf</ion-item>


    </div>



  </ion-list>

  <div class="cardsList">

    <ion-card *ngFor="let card of cards">
      <div  routerLink="{{card.id}}">
        <img src="../assets/amiibo-cards/{{card.tag}}.png" alt="amiibo card of {{card.name}}">
        <ion-card-title>
          <span>{{card.tag}}</span> - {{card.name}}
        </ion-card-title>

        <p>Type: {{card.cardType}}</p>
        <p>Price: ${{card.price}}</p>
      </div>

      <ion-icon name="add-circle" (click)="addItem(card)"></ion-icon>
    </ion-card>

  </div>

</div>
