<div class="cards">
  <ion-title size="large">Cards:</ion-title>
  <!-- <a routerLink="add">Add Cards</a> -->
  <div class="cardsList">

    <ion-card *ngFor="let card of cards" routerLink="{{card.id}}">
      <img src="../assets/amiibo-cards/{{card.tag}}.png" alt="amiibo card of {{card.name}}">
      <ion-card-title>
        <span>{{card.tag}}</span> - {{card.name}}
      </ion-card-title>

      <p>Type: {{card.cardType}}</p>
      <p>Price: ${{card.price}}</p>

      <!-- <a routerLink="{{card.id}}" class="btn btn-sm btn-primary mr-1">Info</a> -->

    </ion-card>

  </div>

</div>
